body {
	*background-color: #dcdcdc;
	background-color: #f8f9fa;
	*background-color: #1F2041;
	*font-family: 'Play', sans-serif;

	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

h2 {
	font-size: 20px;
}

hr {
	margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.pagination-center, 
.pagination-center ul {
    position: relative;
	float: left;
}

.pagination-center {
	left: 50%;
}

.pagination-center ul {
	left: -50%;
}

/* remove up and down arrows on date inputs */
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.bootstrap-select button {
	background-color: #fff;
	border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* чтобы меню было во всю ширину инпута и не во всю высоту страницы*/
.dropdown-menu.show {
	min-width: 100% !important;
	*max-height: 250px !important;
}

.section-title {
	font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.sticky-top.scrolled {
  background-color: lightblue !important;
  transition: background-color 200ms linear;
}

.bootstrap-select {
	width: inherit !important;
}

.policy-view {
	padding: .375rem .75rem;
}

#policy-delete {
	color: red !important;
    margin-left: 20px;
}

#policy-file {
	display: none;
}

.modal-icon {
	height: 20px;
    float: left;
    padding-right: 10px;
}

.modal-title .modal-icon {
	height: 30px;
}

#guarantee-letter-reminder {
	*display: none;
}

#year-block {
	display: none;
}

.greeting {
	text-align: center;
}

#results .form-group {
    margin-bottom: 0.5rem;
}

#results .form-control {
	font-size: 0.8rem;
}

#results select,
#results input {
    font-weight: 600;
}

#results select.negative {
    color: #2E8B57;
}

#results select.positive {
    color: #ff0000;
}

.results-check {
	font-size: 12px;
}

.extra-width {
	max-width: 12.495%;
	flex: 0 0 12.495%;
}

.vaccination-agreement-note {
	padding: 20px 0;
	font-weight: 700;
}

.hidden {
	display: none;
}

@media print{
	@page {size: landscape}

	.no-print {
		display: none;
	}

	a {
		text-decoration: none !important;
		color: #000;
	}
}