body {
    width: 21cm;
    height: 29.7cm;
    font-family: 'Times New Roman';
    /* change the margins as you want them to be. */
} 

.main {
	width: 100%;
	height: 100%;
	background-color: #e1e1e1;
}

.agreement p {
	text-indent: 5%;
	text-align: justify;
	margin-top: 2mm;
	margin-bottom: 4mm;
}

.pcr-document p {
	margin: 1.5mm;
}

.pcr-document .researches p {
	margin: 3mm;
}

.guardianship {
	margin: 2mm;
	padding: 3mm;
	border: 1px solid #000;
}

.patient_sign {
	margin-left: 30mm;
}

p.no-indent {
	text-indent: 0;
	margin-bottom: 5mm;
}

.uppercase {
	text-transform: uppercase;
}

.header-table td {
	vertical-align: bottom;
}

.header-table .right p {
	text-align: right;
}

.header-table p {
	margin: 0;
	text-indent: 0;
}

.info,
.researches {
	border-collapse: collapse;
}

.info th,
.info td,
.researches th,
.researches td {
	border: 1px solid #000;
}

.researches td {
	padding: 0 5px;
}

.know-agree {
	border: 1px solid black;
	padding: 5px;
}

.small {
	font-size: 11px;
}

@media print {
	body{
        width: 21cm;
        height: 27cm;
        *margin: 10mm 30mm 10mm 10mm; 
        font-family: 'Times New Roman';
        /* change the margins as you want them to be. */
	} 
}